body {
  box-sizing: border-box;
  background-color: #090b1a;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #1b1938;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  border-radius: 10px;
  max-width: 350px;
}
.img-box {
  background: linear-gradient(
      rgba(170, 92, 219, 0.75),
      rgba(170, 92, 219, 0.75)
    ),
    url(./images/image-header-mobile.jpg);
  background-blend-mode: multiply;
  filter: blur(0.25px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px;
  min-width: 325px;
  flex-shrink: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.main-container span {
  color: #aa5cdb;
  font-size: 1.1em;
}
.summary-box {
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: hsl(0, 0%, 100%);
  max-width: 250px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.3em;
}
.text-box {
  font-family: "Inter", sans-serif;
  line-height: 1.6em;
  font-weight: 300;
  font-size: 0.9em;
  margin: auto;
  padding-bottom: 20px;
  color: hsla(0, 0%, 100%, 0.75);
  max-width: 250px;
}
.stats-box {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
}
.stats-item {
  width: 80px;
  padding: 10px;
  color: hsla(0, 0%, 100%, 0.6);
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  line-height: 2em;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  font-weight: 400;
}
.stats-item span {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 1024px) {
  /* desktop*/
  .main-container {
    flex-direction: row-reverse;
    height: 410px;
    max-width: 1100px;
  }
  .img-box {
    background: linear-gradient(
        rgba(170, 92, 219, 0.75),
        rgba(170, 92, 219, 0.75)
      ),
      url(/images/image-header-desktop.jpg);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(170, 92, 219, 0.75);
    width: 540px;
    height: 410px;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .summary-box {
    text-align: left;
  }
  h1 {
    min-width: 350px;
    margin: 0 0 0 70px;
    font-size: 2rem;
  }
  .text-box {
    min-width: 350px;
    margin: 0 0 0 70px;
    min-width: 350px;
    padding-bottom: 71px;
  }
  .stats-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 350px;
    margin: 0 0 0 70px;
  }
  .main-container span {
    font-size: 2.1rem;
  }
  .stats-item span {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* tablet*/
  .main-container {
    flex-direction: row-reverse;
    height: 410px;
    max-width: 760px;
  }
  .img-box {
    background: linear-gradient(
        rgba(170, 92, 219, 0.75),
        rgba(170, 92, 219, 0.75)
      ),
      url(/images/image-header-desktop.jpg);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(170, 92, 219, 0.75);
    width: 350px;
    height: 410px;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  h1 {
    min-width: 350px;
    margin: 0 0 0 70px;
    font-size: 1.6rem;
  }
  .summary-box {
    text-align: left;
  }
  .text-box {
    min-width: 350px;
    margin: 0 0 0 70px;
    min-width: 350px;
    padding-bottom: 71px;
  }
  .stats-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 350px;
    margin: 0 0 0 70px;
  }
}
